.FilterMovieForm {
  margin: 0 15px;
  width: 250px;
  margin: 0 auto;
}

.FilterMovieForm .form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
  margin-bottom: 5px;
}

.FilterMovieForm label {
  padding-right: 10px;
  width: 70px;
  text-align: left;
}

.FilterMovieForm button {
  margin: 0 auto;
}

.FilterMovieForm .form-control {
  display: flex;
  justify-content: flex-start;
}

.FilterMovieForm .FilterMovieForm .form-control label {
  margin-right: 10px;
}
.FilterMovieForm .form-control input {
  height: 15px;
  border: 2px solid gray;
  padding: 2px;
  border-radius: 5px;
}
.FilterMovieForm .form-control select {
  height: 23px;
  border: 2px solid gray;
  padding: 2px;
  border-radius: 5px;
}
